{% extends 'index7.html' %}

{% block content %}

<style>
    a{
        text-decoration: None;
    }
    .books{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 60px;
    }
    .rating-stars{
        display: flex;
        /* justify-content: center; */
        padding: 5px;
    }
    .star{
        margin: 1px;
    }
    .wishlist{
        padding: 5px;
    }
    .book{
        width: 35%;
        margin: 10px;
        padding: 15px;
        justify-content: center;
        align-items: center;
    }
    button{
        outline: none;
    }
    @media (max-width: 768px){
        .book{
            width: 90%;
        }
    }
</style>


<div class="home-container">
    <div class="books">
        {% for wishlist_book in books %}
        <div class="book">
            <div class="book-image">
                <a href="{% url 'book' wishlist_book.book.id %}">
                    <img src="{{ wishlist_book.book.cover_img.url }}" height=280px; width=200px;>
                </a>
                <div class="book-title">
                    <h6><b>{{wishlist_book.book.title}}</b></h6>
                </div>
            </div>

            <div class="rating-wishlist">
                <div class="rating">
                    <!-- <h6>Rate Book</h6> -->
                    <div class="rating-stars">
                        <div class="star">
                            <form method="post" action="{% url 'rating' wishlist_book.book.id 1 %}">
                                {% csrf_token %}
                                <button type="submit"><i class="fa-regular fa-star"></i></button>
                                </form>
                        </div>
                        <div class="star">
                            <form method="post" action="{% url 'rating' wishlist_book.book.id 2 %}">
                                {% csrf_token %}
                                <button type="submit"><i class="fa-regular fa-star"></i></button>
                                </form>
                        </div>
                        <div class="star">
                            <form method="post" action="{% url 'rating' wishlist_book.book.id 3 %}">
                                {% csrf_token %}
                                <button type="submit"><i class="fa-regular fa-star"></i></button>
                                </form>
                        </div>
                        <div class="star">
                            <form method="post" action="{% url 'rating' wishlist_book.book.id 4 %}">
                                {% csrf_token %}
                                <button type="submit"><i class="fa-regular fa-star"></i></button>
                                </form>
                        </div>
                        <div class="star">
                            <form method="post" action="{% url 'rating' wishlist_book.book.id 5 %}">
                                {% csrf_token %}
                                <button type="submit"><i class="fa-regular fa-star"></i></button>
                                </form>
                        </div>
                    </div>
                </div>

                <div class="wishlist">
                    <!-- <form method="post" action="#"> -->
                        <!-- {% csrf_token %} -->
                        <button type="submit">Not Interested Anymore</button>
                        <!-- </form> -->
                </div>
            </div>
        {% endfor %}
    </div>

</div>

  
{% endblock %}