{% extends 'index7.html' %}

{% block content %}

<style>
    .home-container{
        display: grid;
        align-items: center;
        justify-content: center;
        /* display: flex; */

    }
    #home-container{
        /* display: grid; */
        align-items: center;
        justify-content: center;
        /* display: flex; */

    }
    .search-books{
        display: grid;
        grid-template-columns: auto auto;
        padding: 40px;
    }
    .image{
        height: 350px;
        width: 300px;
        margin: 20px;
        padding: 10px;
        align-items: center;
        justify-content: center;
        display: flex;
    }
    .rating-stars{
        display: grid;
        grid-template-columns: auto auto auto auto auto;
    }
    .rating{
        padding: 10px;

    }
    .wishlist{
        padding: 10px;
    }
    a{
        text-decoration: None;
    }
</style>


<div class="home-container">
    

</div>

  
{% endblock %}